<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
    <title>Blog</title>
</head>

<body>
  <%- include("./partials/nav") %>
    <div class="container mt-4">
      <h1>
        <%= blog.title %>
      </h1>
      <div class=" d-flex flex-row justify-content-center pt-2">
        <img src="<%= blog.coverImageUrl %>" alt="Cover Image" width="700" height="400" class="rounded-3" />
      </div>
      <p class="pt-2">

      <div class="card mb-3" style="max-width: 400px;">
        <div class="row g-0">
          <div class="col-md-2">
            <img src="<%= blog.createdBy.profileImageUrl %>" class="rounded-circle img-thumbnail mt-3 m-2" alt="" width="100px" height="100px" style="object-fit: cover;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                <%= blog.createdBy.fullName %>
              </h5>
              <%= new Date(blog.createdBy.createdAt).toLocaleDateString("en-CA") %>

            </div>
          </div>
        </div>
      </div>

      </p>
      <div class="pt-2 fs-5">
        <%- blogContent %>
      </div>

      <div class="container mt-4">
        <h2>Comments</h2>

        <% if (locals.user) { %>


          <form action="/blogs/comment/<%= blog._id%>" method="post">

            <div class="mb-3">
              <input type="text" class="form-control" name="content" placeholder="Add your comments..." />
            </div>

            <button type="submit" class="btn btn-primary mb-4">Post Comment</button>
          </form>



          <% } else { %>
            <p>Login to post your comment.</p>
            <% } %>
              <div>
                <% comments.forEach(comment=> { %>

                  <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-1">
                        <img src="<%= comment.userId.profileImageUrl %>" class="rounded-circle img-thumbnail mt-3 m-2" 
                        alt="profile image"
                        style="width: 100px; height: 100px; object-fit: cover;">
                      </div>
                      <div class="col-md-11">
                        <div class="card-body">
                          <h5 class="card-title">
                            <%= comment.userId.fullName %>
                          </h5>
                          <p class="card-text">
                            <%= comment.content %>
                          </p>
                          <%= new Date(comment.createdAt).toLocaleDateString("en-CA") %>
                            <p class="card-text"><small class="text-body-secondary">
                                <%= %>
                              </small></p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <p class="mt-5"></p>
                  <% }) %>
              </div>
      </div>

    </div>
    <%- include("./partials/script") %>
</body>

</html>